[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
"py2-py3-django-email-as-username" = "*"
django-markdown-deux = "*"
django-pagedown = "*"
"psycopg2" = "*"
pytz = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
